<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=jga;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="jgaCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=jga;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="pubsCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=pubs;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=Northwind;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorks;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorksDW;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>