<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=jga;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="jgaCS" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=jga;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="pubsCS" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=pubs;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="NorthwindCS" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=Northwind;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorks;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorksDW;User ID=jga;PWD=bVEABIXz;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="db2ConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Rafael\Documents\db2.mdf;Integrated Security=True;Connect Timeout=30"
    providerName="System.Data.SqlClient" />
  <add name="db3ConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\dev\neu\cs5610\app_code\db3.mdf;Integrated Security=True;Connect Timeout=30"
    providerName="System.Data.SqlClient" />
  <add name="dbConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\dev\neu\cs5610\db.mdf;Integrated Security=True;Connect Timeout=30"
    providerName="System.Data.SqlClient" />
  <add name="jgaConnectionString1" connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=jga;Persist Security Info=True;User ID=jga;Password=bVEABIXz"
    providerName="System.Data.SqlClient" />
  <add name="wamConnectionString1" connectionString="Data Source=JANNUNZIATO\SQLEXPRESS;Initial Catalog=wam;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="F360ConnectionString1" connectionString="Data Source=JANNUNZIATO\SQLEXPRESS;Initial Catalog=F360;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>