<?xml version="1.0" encoding="utf-8" ?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <appSettings>
        <!-- Reference to the jQuery Javascript library -->
        <add key="jQuery"
            value="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"/>

        <!-- Blog Title-->
        <!-- Replace ... below with your full name -->
        <add key="blogtitle"
             value="... Blog"/>

    </appSettings>

    <system.web>
        <!-- Enable debug compilation for a teaching environment -->
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <!-- LINQ -->
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>

        <!-- Allow errors to be seen directly on the web for debugging -->
        <customErrors mode="Off"/>

        <!-- Enable login roles -->
        <roleManager enabled="true" />

        <!-- Enable forms identification in login -->
        <authentication mode="Forms" />

        <pages>
            <controls>
                <!-- Tag prefix for the rasala controls -->
                <add tagPrefix="rasala" namespace="edu.neu.ccis.rasala.controls"/>
            </controls>
        </pages>

        <!-- Fill in this block for using handlers in Visual Studio testing. -->
        <httpHandlers>
            <add verb="*" path="download.aspx"
                type="edu.neu.ccis.rasala.Downloader"/>
            <add verb="*" path="autofile.aspx"
                type="edu.neu.ccis.rasala.AutoFileHandler"/>
            <add verb="*" path="simpleproxy.aspx"
                type="edu.neu.ccis.rasala.SimpleProxy"/>
            <add verb="*" path="AutoBox*.aspx"
                type="edu.neu.ccis.rasala.AutoBoxHandler"/>
            <add verb="*" path="AutoOval*.aspx"
                type="edu.neu.ccis.rasala.AutoOvalHandler"/>
        </httpHandlers>

        <!-- Allow request validation to be specified in the @ Page directive -->
        <httpRuntime requestValidationMode="2.0"/>
    </system.web>

    <system.webServer>

        <!--
            The validation hack allows both the httpHandlers section above
            and the handlers section below to coexist when deployed on the
            IIS 7 server.

            This allows the same web.config file to be used both in VS and
            on the IIS 7 server.

            This is convenient in a teaching environment but is not
            recommended for use in production sites.
        -->
        <validation validateIntegratedModeConfiguration="false" />

        <!--
            Fill this block for using handlers in deployment on the IIS 7 server.
            Keep in mind that each add tag must have a name attribute.
        -->
        <handlers>
            <add verb="*" path="download.aspx"
                type="edu.neu.ccis.rasala.Downloader"
                name="Downloader" />
            <add verb="*" path="autofile.aspx"
                type="edu.neu.ccis.rasala.AutoFileHandler"
                name="AutoFileHandler"/>
            <add verb="*" path="simpleproxy.aspx"
                type="edu.neu.ccis.rasala.SimpleProxy"
                name="SimpleProxy"/>
            <add verb="*" path="AutoBox*.aspx"
                type="edu.neu.ccis.rasala.AutoBoxHandler"
                name="AutoBoxHandler"/>
            <add verb="*" path="AutoOval*.aspx"
                type="edu.neu.ccis.rasala.AutoOvalHandler"
                name="AutoOvalHandler"/>
        </handlers>

    </system.webServer>

</configuration>
