/*
    File: enlarge.css
        
    Copyright 2010,
    Richard Rasala,
    College of Computer and Information Science
    Northeastern University, Boston, MA 02115
    rasala@ccs.neu.edu
    
    September 14, 2010
*/

.enlarge   { font-size: 125%; }