<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpHandlers>
          <add verb="*" path="autoimage.aspx"
               type="edu.neu.ccis.rasala.AutoImageHandler" />
      </httpHandlers>
    </system.web>
    <system.webServer>
        <handlers>
            <add verb="*" path="autoimage.aspx"
                 type="edu.neu.ccis.rasala.AutoImageHandler"
                 name="AutoImageHandler" />
        </handlers>
    </system.webServer>
</configuration>
